.backspace_button{
    flex-basis: 40%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: calc(32px + .6vw);
    padding:2px;
    margin-top:7px;
    border-width:2px;
    border-style:solid;
    background-color:#FD7014;
    font-weight:bold;
    aspect-ratio: 2;
    touch-action: manipulation;
}
.choice_button{
    flex-basis: 20%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: calc(32px + .6vw);
    padding:2px;
    margin:7px;
    border-width:2px;
    border-style:solid;
    background-color: #FD7014;
    text-transform: uppercase;
    font-weight:bold;
    aspect-ratio: 1;
    touch-action: manipulation;
}
.guess_div{
    flex: 1;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: calc(32px + .6vw);
    padding:2px;
    border-width:2px;
    border-style:solid;
    text-transform: uppercase;
    font-weight: bold;
    aspect-ratio: 1;
    touch-action: manipulation;
}
.guess_board{
    display: flex;
    text-align:center;
    margin: 0 auto;
    width:100%;
    max-width:600px;
    margin-bottom:7px;
    margin-top:7px;
}
.choice_board{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    text-align:center;
    margin: 0 auto;
    width:100%;
    max-width:600px;
}
button:disabled,button[disabled]{
    background-color:#FD7014;
    color: #FD7014;
}
.snackbar{
    visibility:hidden;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    z-index: 1;
    font-size: 17px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: #EEEEEE;
}